.BigButton {
    width : 275px;
    height : 220px;
    text-align: center;
    line-height: 1em;
}

.BigSegment{
    width : 800px;
    height : 280px;
    text-align: center;
    line-height: 1em;
}