.BigButton {
    width : 275px;
    height : 220px;
    text-align: center;
    line-height: 1em;
}

.BigSegment{
    width : 400px;
    height : 320px;
    text-align: center;
    line-height: 1em;
}